In [14]:
from keras.datasets import cifar10
import matplotlib.pyplot as plt

loaded_data = cifar10.load_data()

loaded_data[0][0].shape
import random

#plt.imshow(loaded_data[0][0][random.randint(0,50_000)])

batch_size = 10
index = random.randint(0,49_000)
loaded_data[0][0][index:index+batch_size].shape

(10, 32, 32, 3)

In [2]:
import pandas as pd

benchmark_df = pd.read_csv("memory_test.csv",index_col="id")
benchmark_df.head()

,method,batch_size,serialize_time,deserialize_time,send_time,payload_size
id,,,,,,
0,nprecarray,1,103189,369989,1001767,24952
1,uproot,1,2216315,3375095,2079160,30576
2,npfull,1,142720,201675,787537,24920
3,npfull_lz4,1,92012,241711,1023934,6904
4,nprecarray,1,127076,314398,1173628,24952

In [23]:
import numpy as np
import matplotlib.pyplot as plt
# benchmark_df[["method","batch_size","serialize_time"]].groupby(["method","batch_size"])

def generate_box_whisker(benchmark_df, metric):
    df = benchmark_df[["method","batch_size", metric]]
    unique_batches = df["batch_size"].unique()
    unique_methods = df["method"].unique()
    for i in unique_batches:
        for method in unique_methods:
            # group = target_data[target_data["batch_size"] == i] & target_data[target_data["method"] == method]
            method_i_group = df[(df["batch_size"] == i) & (df["method"] == method)]
            plt.boxplot(method_i_group[metric],positions=[1,2,3,4,5,6,7,8,9,10])
    return unique_batches

generate_box_whisker(benchmark_df,"serialize_time")

         method  batch_size  serialize_time
id
0    nprecarray           1          103189
4    nprecarray           1          127076
8    nprecarray           1          107286
12   nprecarray           1          153650
16   nprecarray           1          101022
..          ...         ...             ...
380  nprecarray           1          171455
384  nprecarray           1          194831
388  nprecarray           1          155028
392  nprecarray           1          153812
396  nprecarray           1          165840

[100 rows x 3 columns]